body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,97,1) 43%, rgba(255,250,0,1) 100%);
}

h1 {
  color:white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

p1 {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

a {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
  color: yellow;
}

.tabs {
  display: flex;
  background-color: rgba(51, 51, 51, 0.7); /* Adjust the alpha value for transparency */
  width: 100%;
}

.tabs a {
  color: white;
  text-decoration: none;
  padding: 15px;
  flex: 1;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  box-sizing: border-box; /* Include padding in width calculation */
}

.tabs a:hover {
  background-color: rgba(85, 85, 85, 0.7); /* Adjust the alpha value for transparency */
}
